/* Style dasar untuk navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AC5B67;
    padding: 10px 20px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* Logo */
.navbar-brand img {
    height: 60px;
    width: 200px;
}

/* Teks di dalam navbar */
.navbar-nav .nav-link {
    color: white !important;
    transition: 0.3s;
    letter-spacing: 2px;
    font-size: 20px;
}

/* Hover efek pada link navbar */
.navbar-nav .nav-link:hover {
    color: #bb1818 !important; /* Warna kuning keemasan saat hover */
}

/* Style dropdown */
.navbar .dropdown-menu {
    background-color: #E2B3C2;
    border: none;
}

/* Item dalam dropdown */
.navbar .dropdown-item {
    color: black;
    transition: 0.3s;
    font-size: 20px;
}

/* Hover efek dropdown item */
.navbar .dropdown-item:hover {
    background-color: #d98b8b;
    color: white;
}

/* Navbar tetap di atas */
.navbar.fixed-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Responsif - Navbar collapse di layar kecil */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Untuk memastikan konten tidak tertutup navbar */
body {
    padding-top: 80px; /* Sesuaikan dengan tinggi navbar */
}
